/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@font-face {
  font-family: myFirstFont;
  src: url("assets/fonts/Bebas-Regular.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}
body {
  /* background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%); */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: myFirstFont;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family:myFirstFont;
}

body,
html,
.App,
#root {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  width: 100%;
  height: 75%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.book-list {
  width: 1170px;
  margin: 0 auto;
  z-index: 9;
  margin-top: 50px;
  position: relative;
  height: 280px;
}

.latest-date {
  color: #00c2ba;
}

.latest-desc {
  font-size: 14px;
  padding-bottom: 10px;
}

.search-header {
  /* background-color: #00c2ba !important; */
  padding-top: 0px;
  padding-bottom: 35px;
}

.search-header .search-box {
  border-radius: 25px;
  height: 40px;
  border: 2px solid #fff;
  width: 870px;
  position: relative;
  top: 0;
  color: #00c2ba;
  background-color: #fff;
}

.search-header .search-button {
  border-radius: 50%;
  box-shadow: none;
  height: 40px;
  padding: 0;
  position: absolute;
  right: -8rem;
  text-align: center;
  width: 42px;
  top: 0px;
  color: #fff;
  background-color: #00c2ba;
  border: 2px solid #fff;
}

/* .btn.btn-primary {
  color: #fff !important;
  background-color: #00c2ba !important;
  border-color: #00c2ba !important;
} */

.btn.btn-primary {
  width: 128px;
  height: 35px;
}
.btn.btn-secondary {
  width: 80px;
  height: 35px;
}
.modal-footer .btn+.btn {
  margin-bottom: 3px;
}

.modal-body {
  font-size: medium;
}
.create-btn {
  width: 150px;
}

.user-create-container {
  /* top: 47px; */
  left: 137px;
}

.know-more {
  background-color: #00c2ba !important;
  border-color: #00c2ba !important;
  box-shadow: 0 3px #007671;
}

.registration-container {
  width: 700px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.details-container {
  width: 900px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.slide-image {
  width: 100%;
  /* height: 100%; */
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.75);
  margin: 60px 0 0;
}
/* Common styles */
.p-t-100 {
  padding-top: 100px;
}

.m-r-45 {
  margin-right: 45px;
}
.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container input:checked ~ .checkmark {
  background-color: #e5e5e5;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.input--style-4 {
  line-height: 50px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.input--style-4::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #666;
}

.input--style-4:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.input--style-4::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.input--style-4:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #666;
}

.input--style-4:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #666;
}

.radio-container .checkmark:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #57b846;
}

.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-group-icon {
  position: relative;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.fv-plugins-message-container {
  margin-top: 0.25rem;
}

.fv-plugins-message-container .fv-help-block {
  color: #ff0000;
  font-size: 0.9rem;
  font-weight: 400;
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
    /* Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #eeeeee;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.google-text {
  padding-bottom: 22px;
  padding-top: 20px;
}
.google-change {
  background-size: 100% 65px;
  height: 57px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: none;
  padding: 0 25px;
  border-radius: 12px;
}
.google-sigin {
  background-color: rgb(255, 255, 255);
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  padding-left: 127px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  float: right;
  border-radius: 12px;
}
.signin-sub {
  margin-right: 10px;
  background: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 2px;
}
.signin-text {
  padding: 10px 10px 10px 0px;
  font-weight: 500;
}
.entire-bg {
  background-image: url("assets/bg1.png");
  min-height: 100vh;
}
.error-modal{
  /* background-image: url("assets/Bg.png"); */
}
.wrapper-login .login-select {
  text-align: center;
  padding: unset !important;
}
.wrapper-login .login-option {
  /* padding-right: 76px !important; */
}
.wrapper-login {
  background-image: url("assets/bg1.png"); 
   min-height: 100vh;
}
.wrapper-login .form-outline {
  padding: 20px 0;
}
.wrapper-login .form-outline label {
  /* font-family: cursive; */
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.wrapper-login .volume {
  padding: 20px 0 0;
}
.wrapper-login .volume input ~ label {
  background: url("assets/Music-on.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-login .volume input:checked ~ label {
  background: url("assets/Music-Off.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-login .form-outline input {
  background: url("assets/Inputbox.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 65px;
  height: 65px;
  width: 100%;
  border: none;
  color: white;
  font-size: 20px;
  box-shadow: none;
  padding: 0 25px;
}
.wrapper-login .row .passreset {
  text-align: right;
  padding: 10px 20px;
  font-weight: bold;
}
.wrapper-login .row .passreset a {
  color: white !important;
  text-decoration: none;
}
.wrapper-login .signin {
  background: url("assets/Sign-in-Button.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  border: none;
  height: 100px;
  width: 100%;
  background-size: 100% 100%;
  box-shadow: none;
  outline: none;
  transition: 0.2s all ease-in-out;
}
.wrapper-login .signin:focus {
  border: none;
}

.wrapper-login .signin:hover {
  transform: scale(0.9);
}
.wrapper-login .form-check .radio-inline {
  background: url("assets/Selector-Default.png") no-repeat scroll 0 0
    transparent;
  cursor: pointer;
  height: 62px;
  width: 100%;
  padding: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-size: 100% 100%;
  font-size: 20px;
}
.wrapper-login .form-check .radio-inline.employee-active {
  background: url("assets/Selector-Active.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 62px;
  width: 100%;
  padding: 18px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-size: 100% 100%;
  font-size: 20px;
}

.wrapper-login .form-check input[type="radio"],
.wrapper-login .form-check input[type="checkbox"] {
  visibility: hidden;
}
.wrapper-login .form-check .input#radio1 + label {
  background: url("assets/Selector-Active.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
}

.wrapper-dashboard {
  background-image: url("assets/Bg.png");
  height: 100vh;
}

.wrapper-dashboard .nav-bar {
  margin: 0 !important;
  background: url("assets/Top-Banner.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  min-height: 115px;
}
.wrapper-dashboard .nav-bar .workstream-title {
  width: 100%;
  /* padding-top: 25px; */
  color: white;
  font-weight: bold;
  text-align: center;
  background-size: 100% 100% !important;
  font-size: 40px;
  margin-top: 15px;
}
.wrapper-dashboard .volume {
  padding: 20px 0 0;
}
.dashboard-modal {
  position: absolute;
    /* overflow: visible; */
    /* float: right; */
    /* left: 0%; */
    width: -webkit-fill-available;
    z-index: 100;
    top: 59px;
}
.wrapper-dashboard .volume input ~ label {
  background: url("assets/Music-on.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-dashboard .volume input:checked ~ label {
  background: url("assets/Music-Off.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-dashboard .profile {
  padding: 20px 0 0;
}
.wrapper-dashboard .profile button {
  background: url("assets/Profile.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 55px;
  width: 55px;
  border: none;
}
.wrapper-dashboard .form-check.dash-items .form-check-input ~ label {
  cursor: pointer;
  height: 200px;
  width: 100%;
  padding: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-size: 100% 100% !important;
  font-size: 27px;
}
.answer_main_div {
  display: flex !important;
  align-items: stretch;
  justify-content: stretch;
}
.answer_radio {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.mute-icon {
  float: right;
  padding-right: 20px;
}
.wrapper-dashboard .form-check input[type="radio"],
.wrapper-dashboard .form-check input[type="checkbox"] {
  visibility: hidden;
}
.wrapper-dashboard .form-check #radio1 ~ label {
  background: url("assets/1st-Tile.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio1:checked + label {
  background: url("assets/1st-Tile-Active.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check #radio2 ~ label {
  background: url("assets/2-Tile-Default.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio2:checked + label {
  background: url("assets/2-Tile-Active.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check #radio3 ~ label {
  background: url("assets/3-Tile-Default.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio3:checked + label {
  background: url("assets/3-Tile-Active.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check #radio4 ~ label {
  background: url("assets/4-Tile-Default.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio4:checked + label {
  background: url("assets/4-Tile-Active.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check #radio5 ~ label {
  background: url("assets/5-Tile-Default.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio5:checked + label {
  background: url("assets/5-Tile-Active.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check #radio6 ~ label {
  background: url("assets/6-Tile-Default.png") no-repeat scroll 0 0 transparent;
}
.wrapper-dashboard .form-check input#radio6:checked + label {
  background: url("assets/6-Tile-Active.png") no-repeat scroll 0 0 transparent;
}

.wrapper-question {
  background-image: url("assets/Bg.png");
  min-height: 100vh;
}

.wrapper-question .nav-bar {
  margin: 0 !important;
  background: url("assets/Top-Banner.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 115px;
}
.wrapper-question .volume {
  padding: 20px 0 0;
}
.wrapper-question .volume input ~ label {
  background: url("assets/Music-on.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-question .volume input:checked ~ label {
  background: url("assets/Music-Off.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.wrapper-question .exit {
  padding: 20px 15px 0 0;
}
.exit {
  padding: 20px 15px 0 0;
}
.exit button {
  background: url("assets/Exit-button.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 55px;
  width: 100%;
  border: none;
}
.wrapper-question .totalq {
  background: url("assets/Total-question.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 60px;
  width: 85px;
  margin: 20px 15px 0 35px;
  padding: 14px 20px 20px 47px;
  color: rgb(225, 225, 31);
  font-weight: bold;
  font-size: 20px;
}
.wrapper-question .totalt {
  background: url("assets/Total-time.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 60px;
  width: 133px;
  margin: 20px 15px 0 0;
  padding: 14px 20px 20px 45px;
  color: rgb(225, 225, 31);
  font-weight: bold;
  font-size: 20px;
}
.wrapper-question .exit button {
  background: url("assets/Exit-button.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 55px;
  width: 100%;
  border: none;
}
.wrapper-question .question {
  background: url("assets/Question-bg.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  min-height: 300px;
  width: 100%;
  color: white;
  padding: 50px 150px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.wrapper-question .question .title {
  font-size: 20px;
}
.wrapper-question .timer {
  background: url("assets/Timer.png") no-repeat scroll 0 0 transparent;
  background-size: 100% 100%;
  height: 120px;
  width: 120px;
  position: absolute;
  color: white;
  padding: 40px 35px;
  font-size: 22px;
  font-weight: bold;
  z-index: 10;
}
.wrapper-question .form-check.dash-items .form-check-input ~ label {
  cursor: pointer;
  min-height: 200px;
  width: 100%;
  padding: 79px 15px 100px 15px;
  color: white;
  font-weight: bold;
  text-align: center;
  background-size: 100% 100% !important;
  font-size: 18px;
  /* position: absolute;
  top: -47px; */
  left: 0;
  overflow-wrap: break-word;
}
.wrapper-question .form-check input[type="radio"],
.wrapper-question .form-check input[type="checkbox"] {
  visibility: hidden;
}
.wrapper-question .form-check #radio1 ~ label {
  background: url("assets/Left-option-default-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check input#radio1:checked + label {
  background: url("assets/Left-option-selected-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check #radio2 ~ label {
  background: url("assets/Center-option-default-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check input#radio2:checked + label {
  background: url("assets/Center-option-selected-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check #radio3 ~ label {
  background: url("assets/Center-option-default-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check input#radio3:checked + label {
  background: url("assets/Center-option-selected-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check #radio4 ~ label {
  background: url("assets/Right-option-default-1.png") no-repeat scroll 0 0
    transparent;
}
.wrapper-question .form-check input#radio4:checked + label {
  background: url("assets/Right-option-selected-1.png") no-repeat scroll 0 0
    transparent;
}

/* result-modal css starts here */
.backDrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("./assets/Bg-result.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  pointer-events: all;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalTextContainerSuccess {
  position: absolute;
  text-align: center;
  bottom: 2rem;
}
.modalTextContainerSuccessCert {
  position: absolute;
  text-align: center;
  bottom: 2rem;
}

.modalTextContainerFailuer {
  position: absolute;
  text-align: center;
  /* bottom: 8rem; */
}
.modalHeadderFont {
  color: #fff;
  font-weight: bolder;
  font-size: 3.5rem;
}
.retakeText {
  color: #fff;
  font-weight: bolder;
  font-size: 2rem;
}
.modalScoreFont {
  color: #fff;
  font-weight: bolder;
  font-size: 6rem;
}
.resultAction {
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.resultAction:hover{
  transform: scale(0.9);
}
@media only screen and (max-width: 299px) {
  .modalHeadderFont {
    font-size: 2rem;
  }
  .modalScoreFont {
    font-size: 3rem;
  }
  .modalTextContainerSuccess {
    bottom: 19rem;
  }
  .modalTextContainerSuccessCert {
    bottom: 19rem;
  }
  .modalTextContainerFailuer {
    bottom: 22rem;
  }
  .resultAction {
    height: 80px !important;
  }
}
@media only screen and (min-width: 300px) {
  .modalHeadderFont {
    font-size: 2.5rem;
  }
  .modalScoreFont {
    font-size: 3rem;
  }
  .modalTextContainerSuccess {
    bottom: 19rem;
  }
  .modalTextContainerSuccessCert {
    bottom: 19rem;
  }
  .modalTextContainerFailuer {
    bottom: 21rem;
  }
  .resultAction {
    height: 80px !important;
  }
}

@media only screen and (min-width: 300px) {
  .modalHeadderFont {
    font-size: 3rem;
  }
  .modalScoreFont {
    font-size: 5rem;
  }
  .modalTextContainerSuccess {
    bottom: 15rem;
  }
  .modalTextContainerSuccessCert {
    bottom: 15rem;
  }
  .modalTextContainerFailuer {
    bottom: 18rem;
  }
  .resultAction {
    height: 85px !important;
  }
}

@media only screen and (min-width: 600px) {
  .modalHeadderFont {
    font-size: 3.5rem;
  }
  .modalScoreFont {
    font-size: 5rem;
  }
  .modalTextContainerSuccess {
    bottom: 10rem;
  }
  .modalTextContainerSuccessCert {
    bottom: 1rem;
  }
  .modalTextContainerFailuer {
    bottom: 16rem;
  }
  .resultAction {
    height: auto !important;
  }
}
/* 

@media only screen and (min-width: 768px) {
  .modalHeadderFont {
    color:green;
  }
} 

@media only screen and (min-width: 992px) {
  .modalHeadderFont {
    color:blue;
  }
} 

@media only screen and (min-width: 1200px) {
  .modalHeadderFont {
    color:orange;
  } 
}*/

/* result-modal css ends here */

.nextButton {
  cursor: pointer;
  border: none;
  background-size: 100% 100%;
  height: 65px;
  box-shadow: none;
  float: right;
  margin: 10px 10px 0 0;
  transition: 0.2s all ease-in-out;
}
.nextButton:hover {
  transform: scale(0.9);
}

.topAlign {
  top: -47px;
}
